.container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
   
}

.min-height {
    min-height: 75%;
    background-color: rgb(200, 0, 255);
}

.start {
    justify-content: flex-start;
    background-color: green;

}

.collum {
    justify-content: flex-start;
    flex-direction: column;
}

